
@{
    ViewBag.Title = "Success" + " - THU DAU MOT UNIVERSITY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu{
    <li><a href="/home" title="Home">home</a></li>
	<li><a href="/about" title="About">About us</a></li>
    <li><a href="/news" title="News">news</a></li>
    <li><a href="/trainingologies" title="TRAINING OLOGIES">TRAINING OLOGIES</a></li>
    <li><a href="/cdio" title="CDIO">CDIO</a></li>
    <li><a href="/contact" class="active" title="Contact">contact</a></li>
}

<h5 style="color:#4fc1e9;" >Thank you for your message !</h5>

